/* General Styling */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  margin-top: 20px;
}

/* Navbar Styling */
.navbar1 {
  background-color: #5C86FF;
  border-radius: 10px;
  padding: 10px 20px;
  color: #fff;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.navbar1:hover {
  background-color: #275EFE;
}

.nav-link {
  margin-right: 10px;
}

/* Card Styling */
.card {
  margin-bottom: 20px;
}

.card-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.card-text {
  font-size: 16px;
}

.button__icon {
  margin-left: 5px;
}

/* Button Styling */
.button {
  background-color: #5C86FF;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #275EFE;
}

/* Form Styling */
.form-group {
  margin-bottom: 20px;
}

/* Footer Styling */
.footer {
  background-color: #343a40;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.social-icon {
  color: #fff;
  font-size: 24px;
  margin: 0 10px;
}

.social-icon:hover {
  color: #5C86FF;
}

.footer-bottom {
  background-color: #212529;
  padding: 10px 0;
}

.footer p {
  margin-bottom: 0;
}
